<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>smart_maintainance_portal</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.smart.working.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDept</display-name>
    <servlet-name>AddDept</servlet-name>
    <servlet-class>com.smart.working.AddDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDept</servlet-name>
    <url-pattern>/AddDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewdpt</display-name>
    <servlet-name>Viewdpt</servlet-name>
    <servlet-class>com.smart.working.Viewdpt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewdpt</servlet-name>
    <url-pattern>/Viewdpt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRoad</display-name>
    <servlet-name>AddRoad</servlet-name>
    <servlet-class>com.smart.working.AddRoad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRoad</servlet-name>
    <url-pattern>/AddRoad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentLogin</display-name>
    <servlet-name>DepartmentLogin</servlet-name>
    <servlet-class>com.smart.working.DepartmentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentLogin</servlet-name>
    <url-pattern>/DepartmentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.smart.working.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegis</display-name>
    <servlet-name>UserRegis</servlet-name>
    <servlet-class>com.smart.working.UserRegis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegis</servlet-name>
    <url-pattern>/UserRegis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComplain</display-name>
    <servlet-name>AddComplain</servlet-name>
    <servlet-class>com.smart.working.AddComplain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComplain</servlet-name>
    <url-pattern>/AddComplain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewComplain</display-name>
    <servlet-name>ViewComplain</servlet-name>
    <servlet-class>com.smart.working.ViewComplain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewComplain</servlet-name>
    <url-pattern>/ViewComplain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpLine</display-name>
    <servlet-name>HelpLine</servlet-name>
    <servlet-class>com.smart.working.HelpLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpLine</servlet-name>
    <url-pattern>/HelpLine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.smart.working.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentDept</display-name>
    <servlet-name>CommentDept</servlet-name>
    <servlet-class>com.smart.working.CommentDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentDept</servlet-name>
    <url-pattern>/CommentDept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Status</display-name>
    <servlet-name>Status</servlet-name>
    <servlet-class>com.smart.working.Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Status</servlet-name>
    <url-pattern>/Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeptReply</display-name>
    <servlet-name>DeptReply</servlet-name>
    <servlet-class>com.smart.working.DeptReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptReply</servlet-name>
    <url-pattern>/DeptReply</url-pattern>
  </servlet-mapping>
</web-app>